/* Custom Vars */
#root {
  /* Main */
  --main-bg-clr: #222831;
  --main-accent-clr: #393e46;
  --font-clr-light: #ffffff;
  --font-clr-dark: #000000;

  /* CV */
  --cv-bg-clr: #f2f0ef;
  --cv-header-clr: #dfd0b8;
  --cv-accent-clr: #ece3d5;

  /* Form */
  --form-border-clr: 0;
  --form-section-gap: 4rem;
  --section-width: 85%;
  --input-outline: 3px solid #1e8e94;
  --save-bg-clr: #0097fa;
  --delete-bg-clr: #c70000;
  --hover-brighten: brightness(1.05) saturate(1.05);
}

/* General */
#root {
  display: grid;
  grid-template:
    "title cv" auto
    "form cv" auto
    / 1fr 2fr;
  background-color: var(--main-bg-clr);
}

/* Page Title */
.page-title-container {
  display: flex;
  color: var(--font-clr-light);
  grid-area: title;
  place-self: center;
  margin-top: 1rem;
}

.page-title-icon {
  margin-right: 1rem;
  place-self: center;
}
