/* Custom Vars */
#root {
  /* Main */
  --main-bg-clr: #222831;
  --main-accent-clr: #393e46;
  --font-clr-light: #ffffff;
  --font-clr-dark: #000000;

  /* CV */
  --cv-bg-clr: #f2f0ef;
  --cv-header-clr: #dfd0b8;
  --cv-accent-clr: #ece3d5;

  /* Form */
  --form-border-clr: 0;
  --form-section-gap: 4rem;
  --section-width: 85%;
  --input-outline: 3px solid #1e8e94;
  --save-bg-clr: #0097fa;
  --delete-bg-clr: #c70000;
  --hover-brighten: brightness(1.05) saturate(1.05);
}

/* General */
#root {
  display: grid;
  grid-template:
    "title cv" auto
    "form cv" auto
    / 1fr 2fr;
  background-color: var(--main-bg-clr);
}

/* Page Title */
.page-title-container {
  display: flex;
  color: var(--font-clr-light);
  grid-area: title;
  place-self: center;
  margin-top: 1rem;
}

.page-title-icon {
  margin-right: 1rem;
  place-self: center;
}

/* CV Form */
form {
  background-color: var(--main-accent-clr);
  color: var(--font-clr-light);
}

input,
textarea {
  background-color: var(--cv-bg-clr);
  border: 0;
  padding: 3px;
  margin-bottom: 12px;
  border-radius: 12px;
  padding: 8px;
}

input:focus-visible,
textarea:focus-visible {
  outline: var(--input-outline);
}

#description {
  border-radius: 4px;
  resize: vertical;
  overflow: hidden;
}

.cv-form-container {
  margin: 2rem 2rem 2rem;
  grid-area: form;
}

.cv-form {
  border: var(--form-border-clr);
  border-radius: 12px;
  padding: 32px;
}

legend {
  display: flex;
  padding: 0;
  font-weight: 600;
  margin-bottom: 12px;
}

legend h2 {
  font-size: 1.5rem;
}

.form-icon {
  place-self: center;
  margin-right: 1rem;
}

.date-container {
  display: flex;
  gap: 16px;
}

.date-left,
.date-right {
  width: 100%;
}

.date-left input,
.date-right input {
  width: 100%;
}

.date-container label {
  display: block;
  margin-bottom: 8px;
}

.personal-form {
  margin-bottom: var(--form-section-gap);
}

.save-btn {
  margin-top: 2rem;
  padding: 8px 40px;
  border-radius: 12px;
  border: 0;
  background-color: var(--save-bg-clr);
  color: var(--font-clr-light);
  font-weight: 500;
  font-size: 1.2rem;
}

.save-btn:hover {
  cursor: pointer;
  filter: var(--hover-brighten);
}

.exp-form,
.edu-form {
  margin-bottom: 1rem;
}

.cv-form.inactive {
  opacity: 0.3;
}

legend {
  font-weight: bold;
}

.personal-form-data,
.exp-form-data,
.edu-form-data {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Item Lists */
.section-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: var(--form-border-clr);
  border-radius: 12px;
  margin-bottom: var(--form-section-gap);
  background-color: var(--main-bg-clr);
}

.section-list button:hover {
  cursor: pointer;
  filter: var(--hover-brighten);
}

.list-title {
  display: flex;
  justify-content: space-between;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 500;
  width: 100%;
  height: 100%;
  padding: 16px;
  border: 0;
  border-radius: 12px 12px 0 0;
  background-color: var(--main-accent-clr);
  color: var(--font-clr-light);
}

.list-icon {
  place-self: center;
}

.list-item {
  display: flex;
  justify-content: space-between;
}

.item-name,
.list-add {
  background-color: var(--main-accent-clr);
  color: var(--font-clr-light);
  border: 0;
  padding: 8px;
}

.list-add {
  border-radius: 0 0 12px 12px;
}

.item-name {
  text-align: left;
  padding-left: 1rem;
  width: 100%;
}

.item-delete {
  background-color: var(--delete-bg-clr);
  border: 0;
  padding: 8px;
  color: var(--font-clr-light);
  margin-left: 2px;
}

/* CV Template */
.cv {
  align-self: start;
  min-height: 150vh;
  grid-area: cv;
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 2rem 8rem 2rem 6rem;
  background-color: var(--cv-bg-clr);
}

.cv h3 {
  background-color: var(--cv-accent-clr);
}

.cv header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--cv-header-clr);
}

.cv header h2 {
  font-weight: 700;
  font-size: 2rem;
  margin: 1rem 0;
}

.personal-bottom {
  display: flex;
  font-size: 1.1rem;
  font-weight: 400;
  gap: 2rem;
  margin: 0 1rem 1rem;
}

.personal-bottom-group {
  display: flex;
}

.personal-bottom-icon {
  place-self: center;
  margin-right: 4px;
}

/* CV Sections */
.exp-section-container {
  width: var(--section-width);
  place-self: center;
}

.cv h3 {
  width: 100%;
  text-align: center;
  place-self: center;
  margin: 1rem 0;
  padding: 0.3rem 0;
}

.item {
  display: grid;
  grid-template:
    "left right" 1fr
    /20ch 1fr;
  gap: 2rem;
  margin-top: 24px;
}

.item:first-of-type {
  margin-top: 0;
}

.item-left {
  grid-area: left;
}

.item-right {
  grid-area: right;
  min-width: 0;
}

.item-heading {
  font-weight: 700;
}

.exp-item-position {
  font-style: italic;
}

.exp-item-description {
  overflow-wrap: break-word;
}

.edu-section-container {
  width: var(--section-width);
  place-self: center;
  margin-bottom: 40px;
}
